html,
body,
#root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f5f6fa;
}

#root {
  min-height: 100vh;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.u-btn-bluegray {
  color: black !important;
}

.scrolltop,
.btn.btn-primary {
  background-color: #b3d236;
  color: black;
}

.btn-check:checked + .btn.btn-primary,
.btn-check:active + .btn.btn-primary,
.btn.btn-primary:focus:not(.btn-active),
.btn.btn-primary:hover:not(.btn-active),
.btn.btn-primary:active:not(.btn-active),
.btn.btn-primary.active,
.btn.btn-primary.show,
.show > .btn.btn-primary {
  background-color: #b3d236 !important;
  color: black;
}

.color-green {
  color: #b3d236;
}

.card .g-brd-primary .rounded-0 {
  background-color: #95ad0c;
}

.text-white {
  color: #000000 !important;
}
.card .g-brd-primary .rounded-0 {
  background-color: #b3d135;
}

.modal {
  z-index: 10000;
}
.ul li::before {
  color: #b3d236;
}
